{% extends 'blog/base.html'%}

{% block content %}
    <div class="col-md-7 mx-auto text-center">
        <h1>{{ article.title }}</h1>
        <small> {{ article.date_added }} </small>
        <strong>{{ article.intro }}</strong>
        <p style="color:rgb(42, 51, 42); text-align: justify; font-family: Arial, Helvetica, sans-serif;">{{ article.body }}</p>
   
    <hr>
    <h3>Commentaires</h3>
    
    {% for comment in comments %}
        <article>
            <strong class="text-align-left text-success">{{ comment.name }}</strong>  {{ comment.date_added }}
            <p style="font-family: Arial, Helvetica, sans-serif;">{{ comment.body }}</p>
    {% empty %}
             <p>Pas de commentaire</p> 
        </article>    
     {% endfor %}    
               
        
    
    <h3 class="mx-5">Ajouter un nouveau commentaire</h3>
    <form class="form-control form-comtrol-lg" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn text-white bg-success">commenter</button>
    </form>

</div>

{% endblock %}
